.send-message {
  display: flex;
  /* background-color: #fefefe; */
  padding: 5px;
  width: 100%;
}

.send-message > form {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 19fr 1fr;
}
.send-message > input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
}
