.send-message {
  display: flex;
  padding: 5px;
  width: 100%;
  flex-grow: 1;
}

.send-message > form {
  display: flex;
  flex-grow: 1;
}
.send-message > input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
}
